* {
    font-family: Arial, Helvetica, sans-serif;
}

.helper-text {
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
    font-style: italic;
}

.note {
    font-size: 18px;
    line-height: 1.5;
    background-color: #f5f5f5;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
    margin: 1em auto;
    min-height: 250px;
    white-space: pre-wrap;
    max-width: 600px;
}

.note[contenteditable="true"] {
  caret-color: black;
}

.note:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(85, 207, 60);
}

.btn-container {
    max-width: 600px;
    margin: 1em auto;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 15px;
    border-radius: 20px;
}

#status {
    text-align: center;
}